$blue-light: #F4F4F6;
$background-light: #FDFBEB;
$light: #FFFFFF;
$white-gray: #F7F8F9;
$border-light: #E3E3E3;
$gray-light: #BCBCBC;
$gray: #777777;
$dark-light: #1B1C1D;
$green: #007134;
$green-blur: rgba(153, 241, 142, 0.3); 
$gray-blur: rgba(141, 143, 141, 0.3); 
$dark: #000000cc;
$box-shadow: #a18e8e14;
$yellow: #FFF200;
$red: #D15000;